.dropdown-menu-dinamico {
    position: absolute;
    box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%), 0 0.9375rem 1.40625rem rgb(4 9 20 / 3%), 0 0.25rem 0.53125rem rgb(4 9 20 / 5%), 0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
    margin: .125rem;
    float: left;
    min-width: 15rem;
    padding: .65rem 0;
    font-size: .88rem;
    color: #495057;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: .25rem;
    cursor: pointer;
}

@media (max-width: 900px) {
    .dropdown-menu-dinamico {
        left: 0px !important;
    }

    .ulChild {
        left: 25% !important;
        transform: translatey(25px) !important;
    }
}